# Access Transformer Configuration for Copper Friend Backport

# 使 ModelPart.children 可访问，用于关键帧动画系统
public net.minecraft.client.model.geom.ModelPart p_171307_ # children
public-f net.minecraft.world.level.block.entity.ChestBlockEntity f_155324_ # openersCounter (remove final modifier)
public net.minecraft.world.level.block.entity.ContainerOpenersCounter m_155480_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)V # scheduleRecheck
public net.minecraft.world.level.block.entity.ContainerOpenersCounter f_155448_ # openCount
public net.minecraft.world.level.block.entity.ContainerOpenersCounter m_142148_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;II)V # openerCountChanged
public net.minecraft.world.level.block.entity.ContainerOpenersCounter m_142292_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)V # onOpen
public net.minecraft.world.level.block.entity.ContainerOpenersCounter m_142289_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)V # onClose
public net.minecraft.world.entity.ai.navigation.PathNavigation f_26495_ # level
public net.minecraft.world.level.block.entity.BaseContainerBlockEntity f_58621_ # lockKey
